.container {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 1000;
}

.maincard {
  height: 41em;
  align-items: center;
  margin: 4em auto;
}

.maincard > div {
  width: 100%;
  height: 100%;
}

.maincontainer {
  width: 20em;
  min-width: 20em;
}

.resumecontainer {
  min-width: 20em;
}

.resume {
  position: relative;
  top: -100%;
}

.in {
  opacity: 1;
}

.out {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 30em) {
  .in.fade {
    transition: opacity 0.2s linear 0.3s;
  }
  .out.fade {
    transition: opacity 0.2s linear;
  }
  .maincard {
    transition: width 0.1s linear 0.2s;
  }
  .resumecontainer {
    width: 30em;
  }
}

@media screen and (max-width: 30em) {
  .in.fade {
    transition: opacity 0.2s linear 0.2s;
  }
  .out.fade {
    transition: opacity 0.2s linear;
  }
  .resumecontainer {
    width: 20em;
  }
}

@media screen and (min-height: 41em) {
  .container {
    display: flex;
  }
}
